* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    height: 50vh;
    width: 100vw;
    }
    main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    }
    button {
    background-color: white;
    font-size: 2rem;
    }

    img {
    width: 12.5vh;
    pointer-events: none;
    }

    .win-container {
    grid-column: 4/8;
    grid-row: 2/4;
    background-color: green;
    display: none;
    border: black solid 1px;
    flex-direction: column;
    text-transform: uppercase;
    font-family: roboto;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    }
    
    .play-again {
    background: #a00;
    color: white;
    padding: 2.5rem;
    font-family: roboto;
    text-transform: uppercase;
    border: 1px black solid;
    text-size-adjust: medium;
    }